[submodule "src/dependencies/FRNN"]
	path = src/dependencies/FRNN
	url = https://github.com/lxxue/FRNN.git
[submodule "src/dependencies/parallel_cut_pursuit"]
	path = src/dependencies/parallel_cut_pursuit
	url = https://gitlab.com/1a7r0ch3/parallel-cut-pursuit.git
[submodule "src/dependencies/grid_graph"]
	path = src/dependencies/grid_graph
	url = https://gitlab.com/1a7r0ch3/grid-graph.git
